# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gorodishche,RU,48.8045,44.4744,49.08,76,0,20.13,clear sky
1,1,Atuona,PF,-9.8000,-139.0333,78.40,74,76,15.73,broken clouds
2,2,Sibolga,ID,1.7427,98.7792,80.73,78,100,2.82,overcast clouds
3,3,Rikitea,PF,-23.1203,-134.9692,70.20,89,100,8.59,heavy intensity rain
4,4,Dickinson,US,29.4608,-95.0513,54.12,74,100,0.00,overcast clouds
5,5,Korla,CN,41.7597,86.1469,38.82,33,4,3.44,clear sky
6,6,Ust-Nera,RU,64.5667,143.2000,-21.14,98,69,5.12,broken clouds
7,7,Saint-Philippe,RE,-21.3585,55.7679,71.19,69,28,5.28,scattered clouds
8,8,Chokurdakh,RU,70.6333,147.9167,-12.73,99,100,4.47,overcast clouds
9,9,Saldanha,ZA,-33.0117,17.9442,59.02,72,78,14.38,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Enter minimum temperature: "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Enter maximum temperature: "))

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] > min_temp) & (city_data_df["Max Temp"] < max_temp)]
                                    
# Display sample data
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gorodishche,RU,48.8045,44.4744,49.08,76,0,20.13,clear sky
1,1,Atuona,PF,-9.8000,-139.0333,78.40,74,76,15.73,broken clouds
2,2,Sibolga,ID,1.7427,98.7792,80.73,78,100,2.82,overcast clouds
3,3,Rikitea,PF,-23.1203,-134.9692,70.20,89,100,8.59,heavy intensity rain
4,4,Dickinson,US,29.4608,-95.0513,54.12,74,100,0.00,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
693,693,Christchurch,NZ,-43.5333,172.6333,61.32,93,100,9.22,mist
694,694,Oga,IT,46.4631,10.3470,36.14,98,100,1.63,overcast clouds
695,695,Avram Iancu,RO,46.3833,22.7833,39.45,95,100,1.36,overcast clouds
696,696,Kavaratti,IN,10.5669,72.6420,82.49,62,7,9.51,clear sky
697,697,Teodoro Sampaio,BR,-22.5325,-52.1675,67.37,49,0,9.06,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gorodishche,RU,48.8045,44.4744,49.08,76,0,20.13,clear sky
1,1,Atuona,PF,-9.8000,-139.0333,78.40,74,76,15.73,broken clouds
2,2,Sibolga,ID,1.7427,98.7792,80.73,78,100,2.82,overcast clouds
3,3,Rikitea,PF,-23.1203,-134.9692,70.20,89,100,8.59,heavy intensity rain
4,4,Dickinson,US,29.4608,-95.0513,54.12,74,100,0.00,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
693,693,Christchurch,NZ,-43.5333,172.6333,61.32,93,100,9.22,mist
694,694,Oga,IT,46.4631,10.3470,36.14,98,100,1.63,overcast clouds
695,695,Avram Iancu,RO,46.3833,22.7833,39.45,95,100,1.36,overcast clouds
696,696,Kavaratti,IN,10.5669,72.6420,82.49,62,7,9.51,clear sky
697,697,Teodoro Sampaio,BR,-22.5325,-52.1675,67.37,49,0,9.06,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng
0,Gorodishche,RU,49.08,clear sky,48.8045,44.4744
1,Atuona,PF,78.40,broken clouds,-9.8000,-139.0333
2,Sibolga,ID,80.73,overcast clouds,1.7427,98.7792
3,Rikitea,PF,70.20,heavy intensity rain,-23.1203,-134.9692
4,Dickinson,US,54.12,overcast clouds,29.4608,-95.0513
...,...,...,...,...,...,...
693,Christchurch,NZ,61.32,mist,-43.5333,172.6333
694,Oga,IT,36.14,overcast clouds,46.4631,10.3470
695,Avram Iancu,RO,39.45,overcast clouds,46.3833,22.7833
696,Kavaratti,IN,82.49,clear sky,10.5669,72.6420
697,Teodoro Sampaio,BR,67.37,clear sky,-22.5325,-52.1675

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Gorodishche,RU,49.08,clear sky,48.8045,44.4744,
1,Atuona,PF,78.40,broken clouds,-9.8000,-139.0333,
2,Sibolga,ID,80.73,overcast clouds,1.7427,98.7792,
3,Rikitea,PF,70.20,heavy intensity rain,-23.1203,-134.9692,
4,Dickinson,US,54.12,overcast clouds,29.4608,-95.0513,
...,...,...,...,...,...,...,...
693,Christchurch,NZ,61.32,mist,-43.5333,172.6333,
694,Oga,IT,36.14,overcast clouds,46.4631,10.3470,
695,Avram Iancu,RO,39.45,overcast clouds,46.3833,22.7833,
696,Kavaratti,IN,82.49,clear sky,10.5669,72.6420,
697,Teodoro Sampaio,BR,67.37,clear sky,-22.5325,-52.1675,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Gorodishche,RU,49.08,clear sky,48.8045,44.4744,Inn Delovoy Vizit
1,Atuona,PF,78.40,broken clouds,-9.8000,-139.0333,Villa Enata
2,Sibolga,ID,80.73,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
3,Rikitea,PF,70.20,heavy intensity rain,-23.1203,-134.9692,People ThankYou
4,Dickinson,US,54.12,overcast clouds,29.4608,-95.0513,Hampton Inn & Suites Houston/League City
...,...,...,...,...,...,...,...
693,Christchurch,NZ,61.32,mist,-43.5333,172.6333,The George
694,Oga,IT,36.14,overcast clouds,46.4631,10.3470,QC Terme Bagni di Bormio Bagni Nuovi
695,Avram Iancu,RO,39.45,overcast clouds,46.3833,22.7833,Pension Găina
696,Kavaratti,IN,82.49,clear sky,10.5669,72.6420,Poddar Sworone
697,Teodoro Sampaio,BR,67.37,clear sky,-22.5325,-52.1675,Hotel do Senhor

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [12]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Gorodishche,RU,49.08,clear sky,48.8045,44.4744,Inn Delovoy Vizit
1,Atuona,PF,78.40,broken clouds,-9.8000,-139.0333,Villa Enata
2,Sibolga,ID,80.73,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
3,Rikitea,PF,70.20,heavy intensity rain,-23.1203,-134.9692,People ThankYou
4,Dickinson,US,54.12,overcast clouds,29.4608,-95.0513,Hampton Inn & Suites Houston/League City
...,...,...,...,...,...,...,...
693,Christchurch,NZ,61.32,mist,-43.5333,172.6333,The George
694,Oga,IT,36.14,overcast clouds,46.4631,10.3470,QC Terme Bagni di Bormio Bagni Nuovi
695,Avram Iancu,RO,39.45,overcast clouds,46.3833,22.7833,Pension Găina
696,Kavaratti,IN,82.49,clear sky,10.5669,72.6420,Poddar Sworone
697,Teodoro Sampaio,BR,67.37,clear sky,-22.5325,-52.1675,Hotel do Senhor

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [13]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Inn Delovoy Vizit</dd>\n<dt>City</dt><dd>Gorodishche</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>clear sky and 49.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Syariah CN Darussalam</dd>\n<dt>City</dt><dd>Sibolga</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 70.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hampton Inn & Suites Houston/League City</dd>\n<dt>City</dt><dd>Dickinson</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 54.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gulisitan Hotel</dd>\n<dt>City</dt><dd>Korla</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>clear sky and 38.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 71.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Blue Bay Lodge</dd>\n<dt>City</dt><dd>Saldanha</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 59.02 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 58.48 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Beluga Lake Lodge</dd>\n<dt>City</dt><dd>Homer</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 38.8 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   48.8045   44.4744
1   -9.8000 -139.0333
2    1.7427   98.7792
3  -23.1203 -134.9692
4   29.4608  -95.0513
5   41.7597   86.1469
7  -21.3585   55.7679
9  -33.0117   17.9442
10 -46.1927  168.8643
11  59.6425 -151.5483

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Display the figure containing the map

fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Gorodishche,RU,49.08,clear sky,48.8045,44.4744,Inn Delovoy Vizit
1,Atuona,PF,78.40,broken clouds,-9.8000,-139.0333,Villa Enata
2,Sibolga,ID,80.73,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
3,Rikitea,PF,70.20,heavy intensity rain,-23.1203,-134.9692,People ThankYou
4,Dickinson,US,54.12,overcast clouds,29.4608,-95.0513,Hampton Inn & Suites Houston/League City
...,...,...,...,...,...,...,...
693,Christchurch,NZ,61.32,mist,-43.5333,172.6333,The George
694,Oga,IT,36.14,overcast clouds,46.4631,10.3470,QC Terme Bagni di Bormio Bagni Nuovi
695,Avram Iancu,RO,39.45,overcast clouds,46.3833,22.7833,Pension Găina
696,Kavaratti,IN,82.49,clear sky,10.5669,72.6420,Poddar Sworone
697,Teodoro Sampaio,BR,67.37,clear sky,-22.5325,-52.1675,Hotel do Senhor